:root {  
    --black: #2B2B2B;
    --white: #fafafa;

    --light-grey: #fafafa;
    --grey: #dddddd;
    --grey-border: #9E9E9E;

    --green: #38AA38;
    --green-border: #258A25;

    --yellow: #FFFF00;
    --yellow-border: #AAB600;

    --red: #DE1414;
    --red-border: #B80909;

    --shadow: #9E9E9E;
    --cell: #d7d7d7;

    --border: #fafafa;
}

body {
    color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
}

header {
    background-color: var(--white);
    color: var(--black);
    padding: 15px;
    box-shadow: 0px 4px 4px var(--shadow);
    border-bottom: 1px solid var(--border);
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
@media only screen and (max-width: 640px) {
    h1 {
        font-size: 1.4rem;
    }
}

.header-btns {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
}
.rules-btn {
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    transition: 0.5s;
    background-color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
}
.rules-btn:hover {
    color: var(--grey-border);
}
.rules-btn svg {
    fill: var(--black);
    height: 25px;
    width: 25px;
    transition: all .2s ease-in-out;
}
.rules-btn svg:hover {
    fill: var(--grey-border);
}

@media only screen and (max-width: 640px) {
    .header-btns {
        right: 5px;
        top: 15px;
    }
    .rules-btn svg {
        height: 20px;
        width: 20px;
    }
}

.close-btn {
    background-color: var(--white);
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;

}
.close-btn svg {
    fill: var(--black);
    transition: all .2s ease-in-out;
    border: none;
    height: 20px;
    width: 20px;
}
.close-btn:hover svg {
    fill: var(--grey-border);
}

.mar-r-0 {
    margin-right: 0 !important;
}
.mar-b-0 {
    margin-bottom: 0 !important;
}
.mar-t-0 {
    margin-top: 0px !important;
}
.mar-tb-0 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.mar-t {
    margin-top: 10px;
}

.show {
    display: block !important;
}
.hide {
    display: none !important;
}
/* #start-div {
    width: 100px;
    margin: 0 auto;
    height: 80vh;
    border: solid red;
}

.start-container {
    text-align: center;
    text-align: center;
    margin: 0 auto;
    max-width: 100px;
    margin-top: 120px;
    flex: 1;
} */
#start {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;

    /* color: var(--black); */
    color: white;

    background-color: rgb(67, 115, 67);
    box-shadow: 0px 4px 4px var(--shadow);

    /* border: 1px solid var(--border); */

    max-width: 100px;

    margin: 0 auto;

    position: absolute;

    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

}
#start:hover {
    cursor: pointer;
    /* background-color: rgb(189, 189, 189); */
    background-color: rgb(138, 183, 138);
}

html,
body {
  height: 100%;
}


/* GAMRE BOARD */
#app-root {
    
    /* border: solid blue; */
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: scroll !important;

    box-sizing: content-box;

}
body::-webkit-scrollbar{
    display: none !important;
}
#app-root::-webkit-scrollbar {
    display: none !important;
}

#page {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}
#page-inner {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}
#board-container {
    /* border: solid yellow; */
    max-width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}
/* @media only screen and (max-width: 640px) {
    #board-container {
        margin-left: 0px;
        margin-right: 0px;
    }
} */
#board-inner {
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    flex-grow: 1;
}
#board {
    /* border: solid red; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    justify-content: center;
}

.row {
    /* border: solid red; */
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 20%;
    max-width: 270px;
    max-height: 60px;
}
.cell {
    border: 3px solid var(--grey-border);
    background-color: var(--light-grey);
    text-align: center;
    border-radius: 50px;
    position: relative;

    margin: 3px;
    min-height: 42px;
    max-height: 42px;
    /* height: 30px; */
    
    height: auto;
    width: 20%;
    font-size: 1.2rem;
    line-height: 2.4rem;

    color: #2B2B2B;
}
@media only screen and (max-width: 800px) {
    .row {
        max-width: 200px;
        max-height: 45px;
        margin: 0 auto !important;
    }
    .cell {
        border: 2px solid var(--grey-border);
        font-size: 1.0rem;
        line-height: 1.8rem;
        min-height: 30px;
        max-height: 30px;
        max-width: 30px;
    }
}
/* @media only screen and (max-width: 640px) {
    .row {
        max-width: 160px;
        max-height: 40px;
    }
    .cell {
        border: 2px solid #9E9E9E;
        font-size: 1.0rem;
        line-height: 1.5rem;
        min-height: 23px;
        max-height: 23px;
    }
} */

.wrong {
    transition: 1s;
    background-color: var(--grey);
    border: 3px solid var(--grey-border) !important;
}
.win {
    transition: 1s;
    background-color: var(--green);
    border: 3px solid var(--green-border) !important;
}
.in {
    transition: 1s;
    background-color: var(--yellow);
    border: 3px solid var(--yellow-border) !important;
}
@media only screen and (max-width: 800px) {
    .wrong {
        transition: 1s;
        background-color: var(--grey);
        border: 2px solid var(--grey-border) !important;
    }
    .win {
        transition: 1s;
        background-color: var(--green);
        border: 2px solid var(--green-border) !important;
    }
    .in {
        transition: 1s;
        background-color: var(--yellow);
        border: 2px solid var(--yellow-border) !important;
    }
}

.error {
    animation: shake 0.5s;
}
@keyframes shake {
    0% { transform: translate(3px, 0px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(0deg); }
    40% { transform: translate(3px, 0px) rotate(0deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
}

/* TYPING KEYBOARD */
.keyboard-container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    /* border: solid red; */
    max-width: 100%;
    margin-top: 15px;

}
.keyboard {
    /* display: flex; */
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
}

.row1 {
    display: flex;
    margin: 0 auto;
}
.row2 {
    display: flex;
    margin: 0 auto;
    width: 294px;
    max-width: 100%;
    margin-top: 5px;
}
.row3 {
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    /* width: 294px; */
    max-width: 100%;
}
.key {
    width: 30px;
    height: 30%;
    background-color: #E3E1E1;
    text-align: center;
    border-radius: 5px;

    margin-right: 3px;
    transition: 0.2s;

    padding-top: 10px;
    padding-bottom: 10px;

    color: #2B2B2B;
}
.key:hover {
    background-color: blue;
    cursor: pointer;
}
.key-dbl {
    width: 47px;
}
@media only screen and (max-width: 640px) {
    .key:hover {
        background-color: #E3E1E1;
        cursor: pointer;
    }
}

#clock {
    margin: 0 auto;
    /* border: solid red; */
    text-align: center;
    max-width: 330px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.played-num {
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.results-inner {
    text-align: center;
}

.round-row {
    display: flex;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 5px;


    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.round-label {
    width: 10%;
    padding: 5px;
    text-align: center;
}
.round-num {
    width: 20%;
    padding-top: 7px;
    background-color: #9E9E9E;
    text-align: center;
    color: black;
    font-size: 12px;
    white-space: nowrap;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.round-bar {
    width: 75%;
}
.round-bar-inner {
    height: 100%;
    background-color: #9E9E9E;
    transition: width 1s ease-in-out;
    /* overflow: scroll !important; */

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.red {
    background-color: var(--red);
}
.yellow {
    background-color: var(--yellow);
}
.green {
    background-color: var(--green);
}
.dark-grey {
    background-color: var(--grey-border);
}

.clockColor {
    color: red !important;
}

#share-btn {
    padding: 10px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
#share-btn:hover {
    background-color: #9E9E9E;
}

.result-card {
    width: 80%;
    max-width: 300px;
    min-height: 300px;

    position: absolute;

    margin: 0 auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    top: 20%;

    padding: 30px;
    background-color: var(--white);
    box-shadow: 0px 4px 4px var(--shadow);
    border: 1px solid var(--border);
    border-radius: 5px;
    
}
.result-card-inner {
    max-width: 300px;
    margin: 0 auto;
}
.showCard {
    transition: all .2s ease-in-out;
    animation: .2s ease-out 0s 1 slideIn;
    opacity: 1;
    visibility: visible;
}

@keyframes slideIn {
    0% { 
        transform: translate(-50%, 30px) rotate(0deg); 
    }
    100% { 
        transform: translate(-50%, 0px) rotate(0deg); 
    }
}

.hideCard {
    transition: all .2s ease-in-out;
    animation: .2s ease-out 0s 1 slideOut;
    opacity: 0;
    visibility: hidden;
}

@keyframes slideOut {
    0% { 
        transform: translate(-50%, 0px) rotate(0deg); 
    }
    100% { 
        transform: translate(-50%, 30px) rotate(0deg);
    }
}